/* general rules */
*{
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

header{
  height: 600px;
  background-color: grey;
}

main{
  height: 2200px;
  background-color: white;
}

footer{
  height: 500px;
  background-color: darkblue;
}

.navbar1{
  height: 30px;
  background-color: #0d325a;
}

.info{
  width: 50%;
  margin-left: 5%;
}

.info:after{
  content: "";
  display: table;
  clear: both;
}

.info img{
  height: 25px;
  float: left;
}

.info ul{
  list-style-type: none;
  float: left;
  mar
}

.info li{
  color: white;
  display: inline-block;
  margin-top: 5px;
  margin-left: 50px;
}

.navbar2{
  height: 60px;
  background-color: lightgrey;
}

.navbar3{
  height: 60px;
  background-color: white;
}
