/* general rules */
*{
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

header{
  height: 600px;
  background-color: grey;
}

/* nav1 */
.navbar1{
  height: 30px;
  background-color: #0d325a;
}

.info{
  width: 50%;
  margin-left: 5%;
}

.info:after{
  content: "";
  display: table;
  clear: both;
}

.info img{
  height: 25px;
  float: left;
}

.info ul{
  list-style-type: none;
  float: left;
}

.info li{
  color: white;
  display: inline-block;
  margin-top: 5px;
  margin-left: 50px;
}

/* nav2 */
.navbar2{
  height: 60px;
  background-color: lightgrey;
}

.selection{
  width: 50%;
  height: 60px;
  float: left;
}

.selection select{
  margin-top: 25px;
  border: none;
  color:#0d325a;
  background-color: lightgrey;
}

.search{
  width: 50%;
  height: 60px;
  float: left;
}

.search:after{
  content: "";
  display: table;
  clear: both;
}

#free{
  width: 300px;
  font-size: 15px;
  margin-top: 25px;
  margin-left: 500px;
  padding: 10px;
  color: white;
  border: solid 1px black;
  background-color: orange;
  text-decoration: none;
}

/* nav3 */
.navbar3{
  height: 60px;
  background-color: white;
}

.logo{
  width: 50%;
  height: 60px;
  float: left;
}

.service{
  width: 50%;
  height: 60px;
  float: left;
}

.service li{
  list-style: none;
  display: inline-block;
}

/* board */
.board{
  height: 450px;
  background-image: url(../img/testata.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.slogan{
  width: 40%;
  height: 100px;
  float: none;
}

.slogan:after{
  content: "";
  display: table;
  clear: both;
}

.slogan h1{
  font-size: 35px;
  color: #0d325a;
  padding-left: 150px;
  padding-top: 75px;
}

.description{
  width: 60%;
  height: 50px;
}

.description p{
  font-size: 16px;
  padding-left: 150px;
  padding-top: 75px;
  color: #0d325a;
}

.get{
  width: 30%;
  height: 75px;
  margin-left: 150px;
  margin-top: 150px;
  float: none;
}

.get:after{
  content: "";
  display: table;
  clear: both;
}

.get a{
  font-size: 20px;
  padding-left: 50px;
  padding-top: 30px;
  color: #0d325a;
  border: solid 1px black;
  border-radius: 5px;
  background-color: white;
  text-decoration: none;
}
/* header end */

/* main */
main{
  height: 2200px;
  background-color: white;
}

/* section1 */
#sec1{
  height: 1150px;
  background-color: lightgrey;
}

/* cube */
.cube{
  height: 400px;
  color: #0d325a;
}

.cube img{
  width: 300px;
  height: 225px;
  margin-left: 500px;
  margin-top: 50px;
}

.cube h3{
  font-size: 20px;
  margin-left: 500px
}

.cube p{
  margin-left: 230px;
  margin-right: 230px;
  margin-top: 20px;
  text-align: center;
  font-size: 15px;
}

/* orizontal */
.orizontal{
  width: 100%;
  height: 250px;
  display: inline-block;
}

.row1{
  height: 200px;
  margin-left: 230px;
  margin-right: 230px;
  background-color: white;
}

.box1{
  width: 50%;
  height: 200px;
  display: inline-block;
  position: relative;
}

.box1 img{
  width: 225px;
  height: 125px;
  margin-left: 20%;
  margin-top: 30px;
}

.learn{
  width: 300px;
  font-size: 15px;
  color: white;
  border: solid 1px black;
  background-color: orange;
  text-decoration: none;
  float: none;
  margin-bottom: 10px;
}

.box2{
  width: 50%;
  height: 200px;
  float: right;
}

/* vertical */
.row2{
margin-left: 230px;
}

.vertical{
  width: 280px;
  height: 500px;
  background-color: white;
  margin-top: 30px;
  display: inline-block;
  position: relative;
}

.vertical img{
  width: 225px;
  height: 125px;
  margin-left: 10%;
  margin-top: 30px;
}

.vertical h6{
  font-size: 13px;
  margin-left: 35%;
  margin-top: 10px;
  color: #0d325a;
}

.vertical p{
  font-size: 12px;
  margin-left: 18%;
  margin-right: 12%;
  margin-top: 10px;
  color: #0d325a;
}

.vertical h5{
  font-size: 10px;
  margin-left: 25%;
  margin-top: 30px;
  color: #0d325a;
}

.vertical ul{
  list-style-type: none;
}

.vertical li{
  text-decoration: none;
  font-size: 13px;
  margin-left: 13%;
  margin-top: 15px;
  margin-bottom: 30px;
  color: #0d325a;
}

.vertical a{
  margin-left: 35%;
}

/* section2 */
#sec2{
  height: 450px;
  background-color: #00BBA8;
}

/* medium */
.medium{
  height: 125px;
}

.medium h4{
  font-size: 18px;
  margin-left: 28%;
  margin-right: 28%;
  color: white;
  padding-top: 25px;
  text-align: center;
}

.medium p{
  font-size: 14px;
  margin-top: 10px;
  margin-left: 25%;
  margin-right: 25%;
  color: white;
  text-align: center;
}

/* tab */
.tab{
  height: 325px;
  background-color: grey;
}

#sec3{
  height: 600px;
}

/* low */
.low{
  width: 1000px;
  height: 500px;
  background-color: black;
  margin-left:13%;
  margin-right: 15%;
  margin-top: 50px;
  margin-bottom: 50px;
  display: inline-block;
  position: relative;
}

.costumers{
  width:300px;
  height: 250px;
  background-color: red;
  float: left;
}

.shopify{
  width: 700px;
  height: 250px;
  background-color: green;
  float: right;
}

.start{
  width: 500px;
  height: 250px;
  background-color: yellow;
  float: left;
}

.photo{
  width: 500px;
  height: 250px;
  background-color: blue;
  float: right;
}

/* main end */
footer{
  height: 500px;
  background-color: darkblue;
}
