/* general rules */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  height: 600px;
  background-color: grey;
}

/* nav1 */
.navbar1{
  height: 30px;
  background-color: #0d325a;
}

.info{
  width: 50%;
  margin-left: 5%;
}

.info img{
  height: 25px;
  float: left;
}

.info ul{
  list-style-type: none;
  float: left;
}

.info li{
  color: white;
  display: inline-block;
  margin-top: 5px;
  margin-left: 50px;
}

/* nav2 */
.navbar2{
  height: 60px;
  background-color: lightgrey;
}

.selection{
  width: 50%;
  height: 60px;
  float: left;
  text-align: center;
}

.selection select{
  margin-top: 25px;
  border: none;
  color:#0d325a;
  background-color: lightgrey;
}

.search{
  width: 50%;
  height: 60px;
  float: left;
  padding-top: 20px;
  text-align: right;
}

.search:after{
  content: "";
  display: table;
  clear: both;
}

#free{
  width: 300px;
  font-size: 15px;
  padding: 10px;
  color: white;
  border: solid 1px black;
  background-color: #FF8F73;
  text-decoration: none;
  margin-right: 150px;
}

/* nav3 */
.navbar3{
  height: 60px;
  background-color: white;
}

.logo{
  width: 50%;
  height: 60px;
  padding-top: 15px;
  padding-right: 125px;
  text-align: center;
  float: left;
}

.service{
  width: 50%;
  height: 60px;
  float: left;
  text-align: center;
  padding-top: 20px;
  padding-left: 64px;
}

.service li{
  list-style: none;
  display: inline-block;
}

/* board */
.board{
  height: 450px;
  background-image: url(../img/testata.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.slogan{
  width: 40%;
  height: 100px;
  float: none;
}

.slogan:after{
  content: "";
  display: table;
  clear: both;
}

.slogan h1{
  font-size: 40px;
  color: #0d325a;
  padding-left: 150px;
  padding-top: 75px;
}

.description{
  width: 60%;
  height: 50px;
}

.description p{
  font-size: 16px;
  padding-left: 150px;
  padding-top: 90px;
  color: #0d325a;
}

.get{
  width: 30%;
  height: 75px;
  margin-left: 150px;
  margin-top: 150px;
  float: none;
}

.get:after{
  content: "";
  display: table;
  clear: both;
}

.get a{
  font-size: 20px;
  padding: 25px;
  color: #0d325a;
  border: solid 1px black;
  border-radius: 5px;
  background-color: white;
  text-decoration: none;
}
/* header end */

/* main */
main{
  height: 2200px;
  background-color: white;
}

/* section1 */
#sec1{
  height: 1150px;
  background-color: lightgrey;
}

/* cube */
.cube{
  height: 400px;
  color: #0d325a;
}

.cube img{
  width: 300px;
  height: 225px;
  margin-left: 35%;
  margin-top: 50px;
}

.cube h3{
  font-size: 25px;
  margin-left: 35%;
}

.cube p{
  margin-left: 12%;
  margin-right: 12%;
  margin-top: 20px;
  text-align: center;
  font-size: 17px;
}

/* orizontal */
.orizontal{
  width: 100%;
  height: 250px;
  display: inline-block;
}

.row1{
  height: 200px;
  margin-left: 230px;
  margin-right: 230px;
  background-color: white;
}

.box1{
  width: 40%;
  height: 200px;
  display: inline-block;
}

.book{
  width: 200px;
  margin-left: 20%;
  margin-top: 5px;
}

.learnbox{
  margin-top: 10px;
text-align: center;
}

.learn{
  font-size: 15px;
  color: white;
  border-radius: 5px;
  background-color: #FF8F73;
  text-decoration: none;
  padding: 7px;
  padding-left: 15px;
  padding-right: 15px;
}

.box2{
  width: 60%;
  height: 200px;
  float: right;
}

.box2 h6{
  font-size: 15px;
  margin-top: 10px;
  color: #0d325a;
}

.box2 p{
  font-size: 13px;
  margin-top: 10px;
  color: #0d325a;
}

.box2 h5{
  font-size: 13px;
  margin-top: 15px;
  color: #0d325a;
}

.box2 ul{
  list-style: none;
}

.box2 li{
  font-size: 13px;
  margin-left: 20px;
  margin-top: 15px;
  margin-bottom: 30px;
  color: #0d325a;
  display: inline-block;
}

/* vertical */
.row2{
margin-left: 230px;
}

.vertical{
  width: 280px;
  height: 500px;
  background-color: white;
  margin-top: 30px;
  display: inline-block;
  position: relative;
}
.vertical.central{
  margin-left: 95px;
  margin-right: 95px;
}

.vertical img{
  width: 225px;
  height: 125px;
  margin-left: 10%;
  margin-top: 30px;
}

.vertical h6{
  font-size: 13px;
  margin-left: 35%;
  margin-top: 10px;
  color: #0d325a;
}

.vertical p{
  font-size: 12px;
  margin-left: 18%;
  margin-right: 12%;
  margin-top: 10px;
  color: #0d325a;
}

.vertical hr{
  margin-top: 20px;
  margin-right: 10px;
  margin-left: 10px;
}

.vertical h5{
  font-size: 11px;
  margin-top: 15px;
  color: #0d325a;
  text-align: center;
}

.vertical ul{
  list-style-type: none;
}

.vertical li{
  font-size: 13px;
  margin-left: 13%;
  margin-top: 15px;
  margin-bottom: 30px;
  color: #0d325a;
}

.vertical a{
  margin-left: 35%;
}

/* section2 */
#sec2{
  height: 450px;
  background-color: #00BBA8;
}

/* medium */
.medium{
  height: 125px;
}

.medium h4{
  font-size: 19px;
  margin-left: 30%;
  margin-right: 30%;
  color: white;
  padding-top: 20px;
  text-align: center;
}

.medium p{
  font-size: 15px;
  margin-top: 8px;
  margin-left: 27%;
  margin-right: 27%;
  color: white;
  text-align: center;
}

/* tab */
.tab{
  width: 70%;
  margin-left: 15%;
  text-align: center;
}

.list{
  width: 24%;
  height: 150px;
  margin: 0;
  border: solid 2px white;
  position: relative;
  display: inline-block;
}

/* section3 */
#sec3{
  height: 600px;
}

/* low */
.low{
  width: 1000px;
  height: 500px;
  margin-left:13%;
  margin-right: 15%;
  margin-top: 75px;
  margin-bottom: 50px;
  display: inline-block;
  position: relative;
}

.costumers{
  width:300px;
  height: 250px;
  float: left;
}

.costumers strong{
  font-size: 30px;
  color: #0d325a;
}

.costumers p{
  font-size: 15px;
  color: #0d325a;
  margin-top: 10px;
}
.shopify{
  width: 700px;
  height: 250px;
  float: right;
}

.start{
  width: 500px;
  height: 250px;
  float: left;
  margin-top: 30px;
}

.start strong{
  font-size: 30px;
  color: #0d325a;
  margin-right: 150px;
}

.start p{
  font-size: 15px;
  color: #0d325a;
  margin-top: 20px;
  padding-bottom: 40px;
}

#free2{
  width: 300px;
  font-size: 20px;
  margin-left: 3px;
  padding: 15px;
  color: white;
  border: solid 1px black;
  background-color: #FF8F73;
  text-decoration: none;
}

.photo{
  width: 500px;
  height: 250px;
  float: right;
}

.photo img{
  width: 200px;
  height: 250px;
  margin-left: 200px;
}
/* main end */
footer{
  height: 550px;
  background-color: #0d325a;
}

.container{
  margin-left: 150px;
}
/* box3 */
.box3{
  display: inline-block;
  font-size: 17px;
  color: white;
  margin-top: 50px;
  margin-left: 50px;
}

.box3 ul{
  list-style-type: none;
}

.box3 li{
  margin-top: 15px;
}

/* Strip */
.strip1{
  width: 80%;
  height: 50px;
  margin-left: 55px;
  margin-top: 30px;
  float: none;
}

#support{
  width: 300px;
  font-size: 15px;
  padding: 10px;
  color:#0d325a;
  border-radius: 5px;
  background-color: white;
  text-decoration: none;
  margin-left: 75%;
}

.strip2{
  width: 50%;
  height: 40px;
  background-color: red;
  float: right;
}

.strip3{
  width: 80%;
  margin-top: 30px;
  margin-left: 30px;
  float: none;
}

.strip3 ul{
  list-style-type: none;
}

.strip3 li{
  font-size: 15px;
  color: white;
  margin-top: 30px;
  padding: 20px;
  display: inline-block;
}

.strip4{
  width: 85%;
  height: 100px;
  margin-top: 30px;
}

.logo2{
  width: 50%;
  display: inline-block;
}

.privacy{
  width: 50%;
  float: right;
}

.logo2 img{
margin-left: 30px;
}

.logo2 p{
  margin-left: 30px;
  margin-top: 5px;
  color: white
}

.privacy ul{
  text-decoration: none;
}

.privacy li{
  display: inline-block;
  color: white;
  margin-right: 20px;
  float: right;
}
